* {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    background-color: aquamarine;
    padding: 10px;
    
}
nav {
    position: absolute;
    font-size: 1.3em;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
nav a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blue;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.margin-titles {
    margin: 10px 10px;
}
.table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
caption {
    margin: 7px;
}
article p, table {
    margin-left: 15px;
}
article img {
    display: block;
    margin: 15px auto;
    width: 600px;
}
.references ul, li {
    margin-left: 15px;
}
.content-adj a {
    margin-left: 15px;
}