body {
  font-size: 1.2rem;
  margin: 15px;
}
h1 {
  font-size: 1.3rem;
}
h2 {
}

img {
  max-width: 100%;
}

figure {
  margin: 20px 0;
}

@media screen and (min-width: 460px) {
  body {
    background-color: #edf2f4;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.45rem;
  }
}
